:root{
    --main-text-color :#06b7bc;

    --secondary-color:#1e4141;
    --logo-color :orange;
    --section-padding : 60px;
    --section-margin: 100px;

    --section-background:#f6f6f6;
    --paragraph-color : #777;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

 .container{
    
background-color:    rgb(247, 247, 245);
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
} 


/*  small */
@media (min-width:768px) {
    
.container{
 width: 750px;;
}

}
 
/* medium*/

@media ( min-width:992px){
    
    
.container{
    width: 970px;
}

}
/* large */


@media (min-width:1200px) {
    
    
.container{
    width: 1170px  ;
}

}

/* end of gloabal rules*/

/* Start Component  */

.special-heading{
    color: #d7d6d2;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
    
}

.special-heading + p{
    margin: -35px 0 0;
    font-size: 20px;
    text-align: center;
    color: #8d8b8b;
}
/* End Component  */

@media (max-width: 767px){
    
.special-heading {
    font-size: 60px;
}

.special-heading + p{
    margin-top: -25px;
}
}

.header{
    background-color: var(--main-color);
    padding: 10px;
}

 .header .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    width: 90px;
} 

.header .links{
position: relative;
}

.header .links ul
{
display: none;
list-style: none;
margin: 0;
padding: 0;
background-color: #cab796;
position: absolute;
right: 0;
min-width: 200px;
top: calc(100% + 15px);
z-index: 1;
}  
 
.header .links:hover ul{
        display: block;
}



.header .links ul::before
{
    
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color : transparent transparent #cab796 transparent;
    position: absolute;
    right: 5px;
    top: -19px;

}

.header .links ul li a{
    display: block;
    text-decoration: none ;
    padding: 20px;
    color: #333;
    transition: 1s;
} 

.header .links ul li:not(:last-child) a {
        border-bottom: 2px red dashed;

}

.header .links ul li a:hover{
        transition: 1s;
    padding-left: 30px;
   /* transform: translate(30px); */
}


.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon span{
background-color: #000000;
margin-bottom: 5px;
height:3px; 
}

.header .links .icon span:first-child{
    
    width: 100%;
}
.header .links .icon span:nth-child(2){
    
    width: 60%;
}
.header .links .icon span:last-child{
    width: 100%;
}
/* END HEADER*/

/* START LANDING SECTION*/

.landing{
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    height: calc(100vh - 121.39px);
    margin: 0;
    position: relative;
}

.landing h1{
    margin: 0;
    color: var( --main-text-color);
    font-size: 50px;
    font-weight: bold;

}

.landing p{
    margin: 0;
    color: var(--logo-color);
    font-size: 20px;
    font-weight: bold;
    background-color: #383633;
    padding: 2px;

}

.landing .intro-text{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%) ;
    text-align: center;
    width: 320px;
    max-width: 100%;
}

/* END LANDING SECTION*/

 
 /* START FEATURES */
      
   .features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
   }
 
   .features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr ));
    grid-gap: 20px;
   }
 
   .features .feat {
    padding: 20px;
    text-align: center;
   }


   .features .feat i {
color: var(--main-color);
    }
    .features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
   }
.features .feat p {
    
    line-height: 1.8;
    color: var(--paragraph-color);
    font-size: 17px;
   }
 /* end FEATURES */


 /* start services */

 .services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
 }

 .services .services-content{
    display: grid;    
    grid-template-columns: repeat(auto-fill ,minmax(300px ,1fr));
    grid-gap: 30px;
    margin-top: 30px;
 }

 .services .services-content .srv {
    display: flex;
    flex-direction: column;
  align-items: center; /* ده اللي بيوسط الأيقونة مع النص */
  margin-bottom: 40px;
 }

 
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
   
  }
}


 .services .services-content .srv i{
    color: var(--main-text-color);
    flex-basis: 60px;
 }
 .services .services-content .srv .text {
  flex: 1;}
   

   .services .services-content .srv .text h3{
    margin: 0 0 20px  ;
   }
   .services .services-content .srv .text p{
    color: var(--paragraph-color);
    font-weight: 300 ;
    line-height: 1.6;
   }

   .services .services-content .col .image {

    z-index: 1;
    text-align: center;
    position: relative;

   }

     .services .services-content .image::before { 
    content: "";
    background-color: var(--secondary-color);     
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    position: absolute;
    z-index: -1;


   }

   .services .services-content .image img { 
       height: 450px;
       width: 260px;
   }

   @media (max-width:1199px){
    .image-column{display: none; }
   }

 /* end services */





 /* start portfolio */

.portfolio{
     padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
 
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin: 80px;
    }

.portfolio .portfolio-content .card{
    background-color: white;
}

.portfolio .portfolio-content .card img{
    max-width: 100%;
}

.portfolio .portfolio-content .card .info{
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3{
 margin: 0;
}
.portfolio .portfolio-content .card .info p{
color: var(--paragraph-color);
line-height: 1.6;
margin-bottom: 0;

}

.about{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
    background-color: var(--section-background);
}

.about .about-content {
    margin-top: var(--section-margin);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

@media(max-width: 991px ){
    .about .about-content{

    flex-direction: column;
    text-align: center;
    }
}


.about .about-content .image {
    
position: relative;
width: 475px;
height: 475px;
z-index: 1;

}


@media(max-width: 991px ){
    .about .about-content .image{

  margin: 0 auto 60px;

    }
}




.about .about-content .image img {
    max-width: 100%;

}
.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #d7d6d2;
    width: 100px;
    height: calc(100% + 80px);
    left:-40px ;
    top: -40px;
    z-index: -1;

}

.about .about-content .image::after {
    
 content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px var(--main-text-color) solid; 
    border-bottom: 80px var(--main-text-color) solid;
   z-index: -1;
   right:-150px ;
   top: -40px;

}

@media(max-width: 991px ){
    .about .about-content .image::before,
    .about .about-content .image::after{
display: none;
    }
}

.about .about-content .text{
    color: var(--secondary-color);
    flex-basis: calc(100% - 700px);
}
/* end portfolio  */


.about .about-content .text p:first-of-type {
    color: #000000;
    font-weight: 700;
    margin-bottom: 50px;
    line-height: 2;

}
.about .about-content .text hr {
    
    width: 50%;
    display: inline-block;
    border-color: var(--main-text-color);

}
.about .about-content .text:last-of-type {
    

    line-height: 2;
    color: var(--paragraph-color);
}

/* start contact */
.contact{
  padding-top: var(--section-padding);
padding-bottom: var(--section-padding);
 background-color: var(--section-background);

}

.info{
font-size: 30px;
text-align: center;

 padding-top: var(--section-padding);
 padding-bottom: var(--section-padding);
}

.contact .info .label{
    font-size: 70px;
    color: var(--secondary-color);
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: 15px;

}

.contact .info .link{ 
    display: block;
    font-size: 60px;
    color: var(--main-text-color);
    font-weight: bold;
    text-decoration: none;
}

.contact .info .links{
    display: flex;
    margin-top: 30px;
    font-size: 20px;
    justify-self: center;

}


.contact .info .links i{
    margin-left: 20px;
    color: var(--secondary-color);
}

/* end contact */

/* start footer */
.footer{
    font-size: 15px ;
 text-align: center;
 background-color: var(--secondary-color);
 padding: 30px;
 color: white;
 font-weight: 600;
}
.footer span{
    color: var(--main-text-color);
}

@media(max-width:1200px){
.contact .info .label,
.contact .info .link{
    font-size: 40px;
}
}
/* end footer */




